{:paths ["."]
 :deps {io.github.lispyclouds/bblgum {:git/sha "b450a7608ef44267b52674011721856d77007fa0"}}
 :tasks {brepl (let [port (slurp ".nrepl-port")
                    cmd (str "bb --nrepl-server " port)]
                (shell cmd))
         server ahoy.server/-main
         cli ahoy.cli/-main
         wrap ahoy.cli/wrap-m3u8
         encode (let [encoder (java.util.Base64/getEncoder)]
                   (->> *command-line-args*
                        first
                        slurp
                        .getBytes
                        (.encodeToString encoder)
                        (str "data:text/html;base64,") 
                        println))}}
